<h1>New Consultation Request</h1>
<p><strong>Name:</strong> <%= @form_data[:name] %></p>
<p><strong>Business Name:</strong> <%= @form_data[:business_name] %></p>
<p><strong>Email:</strong> <%= @form_data[:email] %></p>
<p><strong>Phone:</strong> <%= @form_data[:phone] %></p>
<p><strong>Monthly Billing:</strong> <%= @form_data[:monthly_billing] %></p>
<p><strong>Number of Providers:</strong> <%= @form_data[:number_of_providers] %></p>
<p><strong>Total AR:</strong> <%= @form_data[:total_ar] %></p>
<p><strong>Message:</strong> <%= @form_data[:message] %></p>